<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>TransfertPIC</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Flashage PIC</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransfertPIC</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DocumentTransfertPIC</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>son10bits</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Son 10 bits</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).sonDixBits</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DocumentJouerSon10bits</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>carteSon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Carte son</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).carteSon</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DocumentCarteSon</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>TransfertRP2040</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Transfert RP2040</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).transfertRP2040</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DocumentTransfertRP2040</string>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/pierremolinaro/trans-fer-distribution/master/rss.xml</string>
	<key>SUPublicEDKey</key>
	<string>sPAH6SHKXy7urzL1MEmQrY+fgETb6YSh70iV7UuYr9A=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Son 10 bits</string>
			<key>UTTypeIconFile</key>
			<string>son10bits</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>son10bits</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).sonDixBits</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>son10bits</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Transfert PIC</string>
			<key>UTTypeIconFile</key>
			<string>TransfertPIC</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>TransfertPIC</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransfertPIC</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>transfertPIC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Carte son</string>
			<key>UTTypeIconFile</key>
			<string>carteSon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>carteSon</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).carteSon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>carteSon</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Transfert RP2040</string>
			<key>UTTypeIconFile</key>
			<string>TransfertRP2040</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>TransfertRP2040</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).transfertRP2040</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>TransfertRP2040</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
